.container {
  height: 100px;
  display: flex;
  border: 1px solid black;
  border-radius: 3px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: left;
  color: black;
}
.name {
  font-size: 20px;
  align-items: left;
  text-align: left;
}
.number {
  font-size: 20px;
  align-items: left;
  text-align: left;
}
.button {
  border: 1px solid black;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
  height: 32px;
  justify-content: center;
}
.icon {
  margin-right: 5px;
}
